<h1>New book</h1>
  <%= form_with model:@book do |f|%>
    <h3>title</h3>
      <%= f.text_field :book_title %>
    <h3>Opinion</h3>
      <%= f.text_area :caption %>
    <%= f.submit 'Create Book' %>
  <% end %>

  <% @books.each do |book| %>
  <div>
    <p>yu-za-gazou</p>
    <p><%= book.user.name %></p>
    <p><%= book.book_title %></p>
    <p><%= book.caption %></p>
  </div>
  <% end %>